In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

df = pd.read_csv('StudentPerformanceFactors.csv')

In [3]:
df.head()

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,23,84,Low,High,No,7,73,Low,Yes,0,Low,Medium,Public,Positive,3,No,High School,Near,Male,67
1,19,64,Low,Medium,No,8,59,Low,Yes,2,Medium,Medium,Public,Negative,4,No,College,Moderate,Female,61
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74
3,29,89,Low,Medium,Yes,8,98,Medium,Yes,1,Medium,Medium,Public,Negative,4,No,High School,Moderate,Male,71
4,19,92,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,High,Public,Neutral,4,No,College,Near,Female,70

In [4]:
df.isna().sum()

Hours_Studied                  0
Attendance                     0
Parental_Involvement           0
Access_to_Resources            0
Extracurricular_Activities     0
Sleep_Hours                    0
Previous_Scores                0
Motivation_Level               0
Internet_Access                0
Tutoring_Sessions              0
Family_Income                  0
Teacher_Quality               78
School_Type                    0
Peer_Influence                 0
Physical_Activity              0
Learning_Disabilities          0
Parental_Education_Level      90
Distance_from_Home            67
Gender                         0
Exam_Score                     0
dtype: int64

In [5]:
cols_with_missing_vals = df.columns[df.isna().any()]
cols_with_missing_vals

Index(['Teacher_Quality', 'Parental_Education_Level', 'Distance_from_Home'], dtype='object')

In [6]:
for c in cols_with_missing_vals:
    df.drop(df.index[df[c].isna()], inplace=True)

In [7]:
df.isna().any()

Hours_Studied                 False
Attendance                    False
Parental_Involvement          False
Access_to_Resources           False
Extracurricular_Activities    False
Sleep_Hours                   False
Previous_Scores               False
Motivation_Level              False
Internet_Access               False
Tutoring_Sessions             False
Family_Income                 False
Teacher_Quality               False
School_Type                   False
Peer_Influence                False
Physical_Activity             False
Learning_Disabilities         False
Parental_Education_Level      False
Distance_from_Home            False
Gender                        False
Exam_Score                    False
dtype: bool

In [8]:
df.dtypes

Hours_Studied                  int64
Attendance                     int64
Parental_Involvement          object
Access_to_Resources           object
Extracurricular_Activities    object
Sleep_Hours                    int64
Previous_Scores                int64
Motivation_Level              object
Internet_Access               object
Tutoring_Sessions              int64
Family_Income                 object
Teacher_Quality               object
School_Type                   object
Peer_Influence                object
Physical_Activity              int64
Learning_Disabilities         object
Parental_Education_Level      object
Distance_from_Home            object
Gender                        object
Exam_Score                     int64
dtype: object

In [9]:
def preprocess(df: pd.DataFrame):
    cols_with_missing_vals = df.columns[df.isna().any()]
    for c in cols_with_missing_vals:
        df.drop(df.index[df[c].isna()], inplace=True)
    encoder = LabelEncoder()
    df['Motivation_Level'] = encoder.fit_transform(df['Motivation_Level'])

In [10]:
score_dict = df.groupby(by=['Exam_Score'])['Exam_Score'].count().to_dict()
df['score_freq']=df['Exam_Score'].map(score_dict)

In [11]:
df['score_freq']

0       692
1       166
2       102
3       398
4       526
       ...
6602    738
6603    599
6604    738
6605    738
6606    478
Name: score_freq, Length: 6378, dtype: int64

In [12]:
df['Extracurricular_Activities']

0        No
1        No
2       Yes
3       Yes
4       Yes
       ...
6602     No
6603     No
6604    Yes
6605    Yes
6606    Yes
Name: Extracurricular_Activities, Length: 6378, dtype: object

In [13]:
mean_by_ea = df.groupby(by=['Extracurricular_Activities'], as_index=False)['Exam_Score'].mean()

mean_by_ea

  Extracurricular_Activities  Exam_Score
0                         No   66.951770
1                        Yes   67.454951